<div class = "container">
  <table class = "table table-striped table-bordered">
    <tr class ="info">
      <td><strong>Team</strong></td>
      <td><strong>Total Cash Amount</strong></td>
      <td><strong>Total Check Amount</strong></td>
      <td><strong>Total Amount</strong></td>
    </tr>
    <tr>
      <td>India</td>
      <td><%= @india_total_cash %></td>
      <td><%= @india_total_check %></td>
      <td><%= @india_total_amount %></td>
    </tr>
    <tr>
      <td>Japan</td>
      <td><%= @japan_total_cash %></td>
      <td><%= @japan_total_check %></td>
      <td><%= @japan_total_amount %></td>
    </tr>
    <tr>
      <td>Nicaragua</td>
      <td><%= @nicaragua_total_cash %></td>
      <td><%= @nicaragua_total_check %></td>
      <td><%= @nicaragua_total_amount %></td>
    </tr>
    <tr>
      <td>Uganda</td>
      <td><%= @uganda_total_cash %></td>
      <td><%= @uganda_total_check %></td>
      <td><%= @uganda_total_amount %></td>
    </tr>
    <tr>
      <td>China</td>
      <td><%= @china_total_cash %></td>
      <td><%= @china_total_check %></td>
      <td><%= @china_total_amount %></td>
    </tr>
    <tr>
      <td><strong>Leaders</strong></td>
      <td><%= @leader_total_cash %></td>
      <td><%= @leader_total_check %></td>
      <td><%= @leader_total_amount %></td>
    </tr>
    <tr>
      <td><strong>Overall</strong></td>
      <td><%= @total_cash %> </td>
      <td><%= @total_check %></td>
      <td><%= @total_amount %></td>
    </tr>
  </table>

</div>
